/Makefile.in
.deps
.libs
autom4te.cache
m4/*.m4
missing
*.lo
*.la
gt-esdcan*.tar.gz
/aclocal.m4
config.*
/configure
/depcomp
/esdcantool
/install-sh
/libtool
/ltmain.sh
/stamp-h1
/Makefile
/test_sdo
/socia-*.tar.*
/socia
amc-test
*.so
*.o
