/Makefile.in
.deps
.libs
autom4te.cache
m4/*.m4
missing
*.lo
*.la
/aclocal.m4
config.*
/configure
/depcomp
/esdcantool
/install-sh
/libtool
/ltmain.sh
/stamp-h1
/Makefile
/test_sdo
/socanmatic-*.tar.*
*.so
*.o
Makefile
/doc/man/*.1
/doc/man/*.html
/doc/manual/*.html
doc/Makefile.in
/dict402.c
/canmat
/socanmatic/*.h
/enum301.c
/enum402.c
/can402
/pdo.eds
